<!DOCTYPE html>
<html>
 <head>
 
  <script src="/javascripts/min.js"></script>
  <link rel="stylesheet" href="/stylesheets/min.css" />
  {{!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> --}}
 </head>
 <body>
 
  <form method="POST" action="dropdown">
    <label class="input-lg">Country Name</label>
    <select name="country" id="country-id" class="form-control input-lg">
      {{#each mycountry}}
      <option value="_id">{{country}}</option>
      {{/each}}
    </select>
    <br />
    <label class="input-lg">State Name</label>
   <select name="state" id="state-id"  class="form-control input-lg">
    {{#each mystate}}
    <option value="{{_id}}">{{state}}</option>
    {{/each}}
   </select>
   <br />
   <label class="input-lg">City Name</label>
   <select name="city" id="city-id" class="form-control input-lg">
     {{#each mycity}}
    <option value="{{_id}}">{{city}}</option>
    {{/each}}
   </select>
  </form> 
    <script> 
      $(document).ready(function() {
        $('#country-id').on('change', function() {
                var country = this.value;
                $.ajax({
                    url: "/users/dropdown",
                    type: "POST",
                    data: {
                        country: country
                    },
                    cache: false,
                    success: function(result){
                        $("#state-id").html(result);
                        $('#city-id').html('<option value="">Select State First</option>'); 
                    }
                });
            });    
        $('#state-id').on('change', function() {
                var state = this.value;
                $.ajax({
                    url: "/users/dropdown",
                    type: "POST",
                    data: {
                        state: state
                    },
                    cache: false,
                    success: function(result){
                        $("#city-id").html(result);
                    }
                });
          });
      });
    </script>
   </body>
</html>
 